# **BIDSS Final Project - CIDM 5310-70**

*Created by Rex A. Herndon*

---

## **Phase One - Story to Tell (weighted 20%)**

You will develop two or three questions, based on your data, that you'll use to build a dashboard using a Jupyter Notebook that an end-user can explore using your notebook file.

Deliverable: The written portions contribute to the overall project report due along with other deliverables for the project.

---

For this project, I will be analyzing two different datasets from NYC OpenData regarding Motor Vehicle Collisions. The first dataset will be my primary dataset and will contain detailed information about crashed that are reported by NYPD. The second dataset is supplement to the first one and contains more information about the vehicles found in each collision.

Links to these datasets can be found at https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95 and https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Vehicles/bm4k-52h4

To analyze these datasets, I will be perform preprocessing and other steps to clean the data so I can answer the following questions.

1. What percentage of overall collisions lead to one or more injuries/fatalies?
2. What are the primary contributing factors for vehicle collisions?
3. Do vehicle collisions happen more during AM times or PM times?
4. What is the main vehicle type involved in a collision?

**WARNING: The datasets used here are VERY LARGE, so some cells can take several seconds or even minutes to load. Please be patient while they run.**

# **Importing and cleaning - Crashes DataFrame**

In [ ]:
# packages used

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime as dt

In [ ]:
crashes = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv')
vehicles = pd.read_csv('Motor_Vehicle_Collisions_-_Vehicles.csv')

<ipython-input-2-527dbccd03d6>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  crashes = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv')
<ipython-input-2-527dbccd03d6>:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  vehicles = pd.read_csv('Motor_Vehicle_Collisions_-_Vehicles.csv')

In [ ]:
crashes.head(10)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
5,04/14/2021,12:47,NaN,NaN,NaN,NaN,NaN,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4407458,Dump,Sedan,NaN,NaN,NaN
6,12/14/2021,17:05,NaN,NaN,40.709183,-73.956825,"(40.709183, -73.956825)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4486555,Sedan,Tractor Truck Diesel,NaN,NaN,NaN
7,12/14/2021,8:17,BRONX,10475.0,40.868160,-73.831480,"(40.86816, -73.83148)",NaN,NaN,344 BAYCHESTER AVENUE,...,Unspecified,NaN,NaN,NaN,4486660,Sedan,Sedan,NaN,NaN,NaN
8,12/14/2021,21:10,BROOKLYN,11207.0,40.671720,-73.897100,"(40.67172, -73.8971)",NaN,NaN,2047 PITKIN AVENUE,...,Unspecified,NaN,NaN,NaN,4487074,Sedan,NaN,NaN,NaN,NaN
9,12/14/2021,14:58,MANHATTAN,10017.0,40.751440,-73.973970,"(40.75144, -73.97397)",3 AVENUE,EAST 43 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4486519,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [ ]:
crashes.dtypes

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

In [ ]:
crashes = pd.DataFrame(crashes)
vehicles = pd.DataFrame(vehicles)

In [ ]:
# changing crash date and time into datetime objects

In [ ]:
from datetime import datetime as dt

# converting crash date to datetime
crashes['CRASH DATE'] = pd.to_datetime(crashes['CRASH DATE'])

# converting crashtime to seconds, so calculations can be done easier (and potentially faster)
crashes['CRASH TIME'] = crashes['CRASH TIME'] + ':00'
crashes['CRASH TIME'] = pd.to_timedelta(crashes['CRASH TIME'])
crashes['CRASH TIME'] = crashes['CRASH TIME'].dt.total_seconds().astype(int)

crashes.head(10)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11,9540,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26,42300,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29,24900,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11,34500,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14,29580,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
5,2021-04-14,46020,NaN,NaN,NaN,NaN,NaN,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4407458,Dump,Sedan,NaN,NaN,NaN
6,2021-12-14,61500,NaN,NaN,40.709183,-73.956825,"(40.709183, -73.956825)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4486555,Sedan,Tractor Truck Diesel,NaN,NaN,NaN
7,2021-12-14,29820,BRONX,10475.0,40.868160,-73.831480,"(40.86816, -73.83148)",NaN,NaN,344 BAYCHESTER AVENUE,...,Unspecified,NaN,NaN,NaN,4486660,Sedan,Sedan,NaN,NaN,NaN
8,2021-12-14,76200,BROOKLYN,11207.0,40.671720,-73.897100,"(40.67172, -73.8971)",NaN,NaN,2047 PITKIN AVENUE,...,Unspecified,NaN,NaN,NaN,4487074,Sedan,NaN,NaN,NaN,NaN
9,2021-12-14,53880,MANHATTAN,10017.0,40.751440,-73.973970,"(40.75144, -73.97397)",3 AVENUE,EAST 43 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4486519,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [ ]:
# # changing 'NUMBER OF PERSONS INJURED' and 'NUMBER OF PERSONS KILLED' to int64

# crashes['NUMBER OF PERSONS INJURED'] = crashes['NUMBER OF PERSONS INJURED'].astype('int64')
# crashes['NUMBER OF PERSONS KILLED'] = crashes['NUMBER OF PERSONS KILLED'].astype('int64')

In [ ]:
crashes.dtypes

CRASH DATE                       datetime64[ns]
CRASH TIME                                int64
BOROUGH                                  object
ZIP CODE                                 object
LATITUDE                                float64
LONGITUDE                               float64
LOCATION                                 object
ON STREET NAME                           object
CROSS STREET NAME                        object
OFF STREET NAME                          object
NUMBER OF PERSONS INJURED               float64
NUMBER OF PERSONS KILLED                float64
NUMBER OF PEDESTRIANS INJURED             int64
NUMBER OF PEDESTRIANS KILLED              int64
NUMBER OF CYCLIST INJURED                 int64
NUMBER OF CYCLIST KILLED                  int64
NUMBER OF MOTORIST INJURED                int64
NUMBER OF MOTORIST KILLED                 int64
CONTRIBUTING FACTOR VEHICLE 1            object
CONTRIBUTING FACTOR VEHICLE 2            object
CONTRIBUTING FACTOR VEHICLE 3            object
CONTRIBUTING FACTOR VEHICLE 4            object
CONTRIBUTING FACTOR VEHICLE 5            object
COLLISION_ID                              int64
VEHICLE TYPE CODE 1                      object
VEHICLE TYPE CODE 2                      object
VEHICLE TYPE CODE 3                      object
VEHICLE TYPE CODE 4                      object
VEHICLE TYPE CODE 5                      object
dtype: object

In [ ]:
# dropping unnecessary columns (there's a lot)

crashes.drop([
    'BOROUGH',
    'ZIP CODE',
    'LATITUDE',
    'LONGITUDE',
    'LOCATION',
    'ON STREET NAME',
    'CROSS STREET NAME',
    'OFF STREET NAME'
  ], axis=1, inplace=True)

crashes.head()

,CRASH DATE,CRASH TIME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11,9540,2.0,0.0,0,0,0,0,2,0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26,42300,1.0,0.0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29,24900,0.0,0.0,0,0,0,0,0,0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11,34500,0.0,0.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14,29580,0.0,0.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [ ]:
crashes.shape

(2006562, 21)

In [ ]:
# dropping rows where 'CONTRIBUTING FACTOR VEHICLE 1' is NULL
# dropping rows where 'NUMBER OF PERSONS INJURED' is NULL
# dropping rows where 'NUMBER OF PERSONS KILLED' is NULL


crashes.dropna(subset=[
    'CONTRIBUTING FACTOR VEHICLE 1',
    'NUMBER OF PERSONS INJURED',
    'NUMBER OF PERSONS KILLED',
    'CRASH DATE',
    'CRASH TIME'], inplace=True)

In [ ]:
crashes.shape

(2000252, 21)

In [ ]:
crashes['NUMBER OF PERSONS INJURED'] = crashes['NUMBER OF PERSONS INJURED'].astype('int64')
crashes['NUMBER OF PERSONS KILLED'] = crashes['NUMBER OF PERSONS KILLED'].astype('int64')

In [ ]:
crashes.head()

,CRASH DATE,CRASH TIME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11,9540,2,0,0,0,0,0,2,0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26,42300,1,0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29,24900,0,0,0,0,0,0,0,0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11,34500,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
5,2021-04-14,46020,0,0,0,0,0,0,0,0,...,Unspecified,NaN,NaN,NaN,4407458,Dump,Sedan,NaN,NaN,NaN

# **Importing and cleaning - Vehicles DataFrame**

In [ ]:
vehicles.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,STATE_REGISTRATION,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,...,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
0,10385780,100201,09/07/2012,9:03,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
1,19140702,4213082,09/23/2019,8:15,0553ab4d-9500-4cba-8d98-f4d7f89d5856,NY,Station Wagon/Sport Utility Vehicle,TOYT -CAR/SUV,NaN,2002.0,...,Going Straight Ahead,Left Front Bumper,Left Front Quarter Panel,NaN,NaN,NaN,N,NaN,Driver Inattention/Distraction,Unspecified
2,14887647,3307608,10/02/2015,17:18,2,NY,TAXI,NaN,NaN,NaN,...,Going Straight Ahead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN
3,14889754,3308693,10/04/2015,20:34,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,Parked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
4,14400270,297666,04/25/2013,21:15,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Vehicular,NaN

In [ ]:
# converting crash date to datetime
vehicles['CRASH_DATE'] = pd.to_datetime(vehicles['CRASH_DATE'])

# converting crashtime to seconds, so calculations can be done easier (and potentially faster)
vehicles['CRASH_TIME'] = vehicles['CRASH_TIME'] + ':00'
vehicles['CRASH_TIME'] = pd.to_timedelta(vehicles['CRASH_TIME'])
vehicles['CRASH_TIME'] = vehicles['CRASH_TIME'].dt.total_seconds().astype(int)

vehicles.head(10)

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,STATE_REGISTRATION,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,...,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
0,10385780,100201,2012-09-07,32580,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
1,19140702,4213082,2019-09-23,29700,0553ab4d-9500-4cba-8d98-f4d7f89d5856,NY,Station Wagon/Sport Utility Vehicle,TOYT -CAR/SUV,NaN,2002.0,...,Going Straight Ahead,Left Front Bumper,Left Front Quarter Panel,NaN,NaN,NaN,N,NaN,Driver Inattention/Distraction,Unspecified
2,14887647,3307608,2015-10-02,62280,2,NY,TAXI,NaN,NaN,NaN,...,Going Straight Ahead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN
3,14889754,3308693,2015-10-04,74040,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,Parked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
4,14400270,297666,2013-04-25,76500,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Vehicular,NaN
5,17044639,3434155,2016-05-02,63300,219456,NY,4 dr sedan,MERZ -CAR/SUV,NaN,2015.0,...,Merging,Right Front Bumper,Right Front Bumper,Right Front Quarter Panel,NaN,NaN,N,NaN,Driver Inattention/Distraction,Unsafe Lane Changing
6,19138701,4229067,2019-10-24,47700,c53b43d9-419a-4ab1-9361-3f2979078d89,NY,Bus,FRHT-TRUCK/BUS,NaN,2006.0,...,Parked,Left Front Quarter Panel,Left Front Quarter Panel,NaN,NaN,NaN,N,NaN,Unspecified,Unspecified
7,17303317,3503027,2016-08-18,45540,672828,NY,Station Wagon/Sport Utility Vehicle,FORD -CAR/SUV,NaN,2005.0,...,Going Straight Ahead,Center Front End,Center Front End,No Damage,No Damage,No Damage,N,NaN,Driver Inattention/Distraction,Unspecified
8,12254536,196425,2013-07-16,40800,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
9,11804847,2975897,2012-11-26,65520,2,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN

In [ ]:
vehicles.dtypes

UNIQUE_ID                               int64
COLLISION_ID                            int64
CRASH_DATE                     datetime64[ns]
CRASH_TIME                              int64
VEHICLE_ID                             object
STATE_REGISTRATION                     object
VEHICLE_TYPE                           object
VEHICLE_MAKE                           object
VEHICLE_MODEL                          object
VEHICLE_YEAR                          float64
TRAVEL_DIRECTION                       object
VEHICLE_OCCUPANTS                     float64
DRIVER_SEX                             object
DRIVER_LICENSE_STATUS                  object
DRIVER_LICENSE_JURISDICTION            object
PRE_CRASH                              object
POINT_OF_IMPACT                        object
VEHICLE_DAMAGE                         object
VEHICLE_DAMAGE_1                       object
VEHICLE_DAMAGE_2                       object
VEHICLE_DAMAGE_3                       object
PUBLIC_PROPERTY_DAMAGE                 object
PUBLIC_PROPERTY_DAMAGE_TYPE            object
CONTRIBUTING_FACTOR_1                  object
CONTRIBUTING_FACTOR_2                  object
dtype: object

In [ ]:
# dropping unnecessary columns

vehicles.drop([
    'VEHICLE_ID',
    'STATE_REGISTRATION',
    'DRIVER_SEX',
    'DRIVER_LICENSE_STATUS',
    'DRIVER_LICENSE_JURISDICTION'
  ], axis=1, inplace=True)

vehicles.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,TRAVEL_DIRECTION,VEHICLE_OCCUPANTS,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
0,10385780,100201,2012-09-07,32580,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
1,19140702,4213082,2019-09-23,29700,Station Wagon/Sport Utility Vehicle,TOYT -CAR/SUV,NaN,2002.0,North,1.0,Going Straight Ahead,Left Front Bumper,Left Front Quarter Panel,NaN,NaN,NaN,N,NaN,Driver Inattention/Distraction,Unspecified
2,14887647,3307608,2015-10-02,62280,TAXI,NaN,NaN,NaN,NaN,NaN,Going Straight Ahead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN
3,14889754,3308693,2015-10-04,74040,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,Parked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
4,14400270,297666,2013-04-25,76500,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Vehicular,NaN

In [ ]:
vehicles.shape

(3704406, 20)

In [ ]:
vehicles.dropna(subset=[
    'VEHICLE_TYPE',
    'VEHICLE_MAKE',
    'VEHICLE_MODEL',
    'CRASH_DATE',
    'CRASH_TIME',
    'VEHICLE_YEAR',
    'VEHICLE_OCCUPANTS'], inplace=True)

In [ ]:
vehicles.shape

(49172, 20)

In [ ]:
vehicles.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,TRAVEL_DIRECTION,VEHICLE_OCCUPANTS,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
18,16952374,3412270,2016-04-01,56760,Station Wagon/Sport Utility Vehicle,TOYT -CAR/SUV,TOYT 4RN,2015.0,South,1.0,Passing,Right Front Quarter Panel,No Damage,No Damage,No Damage,No Damage,N,NaN,Unsafe Lane Changing,Traffic Control Disregarded
59,17045096,3432659,2016-04-27,69300,Station Wagon/Sport Utility Vehicle,FORD -CAR/SUV,FORD ZZZ,2000.0,West,1.0,Going Straight Ahead,Center Front End,Center Front End,Left Side Doors,Left Rear Quarter Panel,NaN,N,NaN,Following Too Closely,Unspecified
209,16938759,3435821,2016-03-14,76740,Pick-up Truck,FRHT,TRUCK TRADE,2011.0,East,1.0,Going Straight Ahead,No Damage,No Damage,NaN,NaN,NaN,N,NaN,Unspecified,Unspecified
225,17044144,3434721,2016-05-04,46800,4 dr sedan,DODG -CAR/SUV,DODG CHA,2015.0,East,1.0,Parked,Left Side Doors,Left Front Quarter Panel,NaN,NaN,NaN,N,NaN,Unspecified,Unspecified
226,16938968,3430394,2016-03-17,67800,Station Wagon/Sport Utility Vehicle,chrysler,town and country,2015.0,Unknown,0.0,Parked,Left Rear Bumper,Left Rear Bumper,NaN,NaN,NaN,N,NaN,Unspecified,Unspecified

In [ ]:
# changing 'VEHICLE_YEAR' and 'VEHICLE_OCCUPANTS' to int64

vehicles['VEHICLE_YEAR'] = vehicles['VEHICLE_YEAR'].astype('int64')
vehicles['VEHICLE_OCCUPANTS'] = vehicles['VEHICLE_OCCUPANTS'].astype('int64')

vehicles.dtypes

UNIQUE_ID                               int64
COLLISION_ID                            int64
CRASH_DATE                     datetime64[ns]
CRASH_TIME                              int64
VEHICLE_TYPE                           object
VEHICLE_MAKE                           object
VEHICLE_MODEL                          object
VEHICLE_YEAR                            int64
TRAVEL_DIRECTION                       object
VEHICLE_OCCUPANTS                       int64
PRE_CRASH                              object
POINT_OF_IMPACT                        object
VEHICLE_DAMAGE                         object
VEHICLE_DAMAGE_1                       object
VEHICLE_DAMAGE_2                       object
VEHICLE_DAMAGE_3                       object
PUBLIC_PROPERTY_DAMAGE                 object
PUBLIC_PROPERTY_DAMAGE_TYPE            object
CONTRIBUTING_FACTOR_1                  object
CONTRIBUTING_FACTOR_2                  object
dtype: object

## **Answering Questions**

What percentage of overall collisions lead to one or more injuries/fatalies?

In [ ]:
# total rows

total_val_count = crashes.shape[0]

# total injuries recorded

injury_sum = crashes['NUMBER OF PERSONS INJURED'].sum()

# total deaths recorded

death_sum = crashes['NUMBER OF PERSONS KILLED'].sum()

In [ ]:
# filtered where it counts the number of rows that have at least 1 person injured in a collision

injury_count_cond = crashes[crashes['NUMBER OF PERSONS INJURED'] > 1]['NUMBER OF PERSONS INJURED'].count()

In [ ]:
# filtered where it counts the number of rows that have at least 1 person killed in a collision

death_count_cond = crashes[crashes['NUMBER OF PERSONS KILLED'] > 1]['NUMBER OF PERSONS KILLED'].count()

In [ ]:
injury_percentage_atLeastOne = (injury_count_cond/total_val_count)*100
death_percentage_atLeastOne = (death_count_cond/total_val_count)*100

In [ ]:
injury_percentage_overall = (injury_sum/total_val_count)*100
death_percentage_overall = (death_sum/total_val_count)*100

In [ ]:
# as a note, this dataset included every collision recorded by NYPD between Mar 2016 and May 2023

print(f"Total collisions recorded in dataset: {total_val_count}")
print(f"Total injuries found in dataset: {injury_sum}")
print(f"Total deaths found in dataset: {death_sum}")
print("\n")
print(f"Percentage of collisions that result in at least one injury: {injury_percentage_atLeastOne:.2f}%")
print(f"Percentage of collisions that result in at least one death: {death_percentage_atLeastOne:.4f}%")
print("\n")
print(f"Overall percentage of injuries in dataset: {injury_percentage_overall:.2f}%")
print(f"Overall percentage of deaths in dataset: {death_percentage_overall:.2f}%")
# these numbers are A LOT lower than i thought...

Total collisions recorded in dataset: 2000252
Total injuries found in dataset: 599419
Total deaths found in dataset: 2863


Percentage of collisions that result in at least one injury: 4.97%
Percentage of collisions that result in at least one death: 0.0044%


Overall percentage of injuries in dataset: 29.97%
Overall percentage of deaths in dataset: 0.14%

What are the primary contributing factors for vehicle collisions?

In [ ]:
# grouping by the count of each value in "CONTRIBUTING FACTOR VEHICLE 1", since there is
# always at least one vehicle in every collision

contributing_factor_count = crashes.groupby('CONTRIBUTING FACTOR VEHICLE 1')['CONTRIBUTING FACTOR VEHICLE 1'].count()

sorting_factors = contributing_factor_count.sort_values(ascending=False)

sorting_factors.head(5)

CONTRIBUTING FACTOR VEHICLE 1
Unspecified                       689777
Driver Inattention/Distraction    398404
Failure to Yield Right-of-Way     118472
Following Too Closely             106713
Backing Unsafely                   74708
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

Do vehicle collisions happen more during AM times or PM times?

In [ ]:
# crash times were changed to seconds for easier calculations on this question

# declaring noon variable = 60 seconds * 60 minutes * 12 hours
noon = 60*60*12
noon

43200

In [ ]:
AM_collisions = crashes[crashes['CRASH TIME'] < noon].shape[0]
PM_collisions = crashes[crashes['CRASH TIME'] > noon].shape[0]

In [ ]:
AM_percent = (AM_collisions/total_val_count)*100
PM_percent = (PM_collisions/total_val_count)*100

In [ ]:
print(f"Total number of collisions recorded in AM times: {AM_collisions}")
print(f"Total number of collisions recorded in PM times: {PM_collisions}")
print("\n")
print(f"Percentage of collisions recorded in AM times: {AM_percent:.2f}%")
print(f"Percentage of collisions recorded in PM times: {PM_percent:.2f}%")

Total number of collisions recorded in AM times: 725557
Total number of collisions recorded in PM times: 1253821


Percentage of collisions recorded in AM times: 36.27%
Percentage of collisions recorded in PM times: 62.68%

What is the main vehicle type involved in a collision?

In [ ]:
vehicles.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,TRAVEL_DIRECTION,VEHICLE_OCCUPANTS,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
18,16952374,3412270,2016-04-01,56760,Station Wagon/Sport Utility Vehicle,TOYT -CAR/SUV,TOYT 4RN,2015,South,1,Passing,Right Front Quarter Panel,No Damage,No Damage,No Damage,No Damage,N,NaN,Unsafe Lane Changing,Traffic Control Disregarded
59,17045096,3432659,2016-04-27,69300,Station Wagon/Sport Utility Vehicle,FORD -CAR/SUV,FORD ZZZ,2000,West,1,Going Straight Ahead,Center Front End,Center Front End,Left Side Doors,Left Rear Quarter Panel,NaN,N,NaN,Following Too Closely,Unspecified
209,16938759,3435821,2016-03-14,76740,Pick-up Truck,FRHT,TRUCK TRADE,2011,East,1,Going Straight Ahead,No Damage,No Damage,NaN,NaN,NaN,N,NaN,Unspecified,Unspecified
225,17044144,3434721,2016-05-04,46800,4 dr sedan,DODG -CAR/SUV,DODG CHA,2015,East,1,Parked,Left Side Doors,Left Front Quarter Panel,NaN,NaN,NaN,N,NaN,Unspecified,Unspecified
226,16938968,3430394,2016-03-17,67800,Station Wagon/Sport Utility Vehicle,chrysler,town and country,2015,Unknown,0,Parked,Left Rear Bumper,Left Rear Bumper,NaN,NaN,NaN,N,NaN,Unspecified,Unspecified

In [ ]:
# displays top 3 records in each category

vehicletype_count = vehicles.groupby('VEHICLE_TYPE')['VEHICLE_TYPE'].count()

sorted_count1 = vehicletype_count.sort_values(ascending=False)
sorted_count1.head(3)

VEHICLE_TYPE
4 dr sedan                             23412
Station Wagon/Sport Utility Vehicle    15506
Sedan                                   1793
Name: VEHICLE_TYPE, dtype: int64

In [ ]:
vehiclemodel_count = vehicles.groupby('VEHICLE_MODEL')['VEHICLE_MODEL'].count()

sorted_count2 = vehiclemodel_count.sort_values(ascending=False)
sorted_count2.head(3)

VEHICLE_MODEL
TOYT CAM    2989
HOND ACC    1764
NISS ALT    1492
Name: VEHICLE_MODEL, dtype: int64

In [ ]:
vehiclemake_count = vehicles.groupby('VEHICLE_MAKE')['VEHICLE_MAKE'].count()

sorted_count3 = vehiclemake_count.sort_values(ascending=False)
sorted_count3.head(3)

VEHICLE_MAKE
TOYT -CAR/SUV    8598
HOND -CAR/SUV    5886
NISS -CAR/SUV    5240
Name: VEHICLE_MAKE, dtype: int64